@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
  font-family: "Poppins", sans-serif !important;
  background: #f2f7f7 !important;
}

.navbar {
  background: #068975 !important;
  padding: 0px !important;
}

.navbar-nav {
  margin-top: -4px !important;
}

.navbar .navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

.navbar a.nav-link {
  color: #ffffff !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  padding: 15px 10px !important;
  text-transform: uppercase !important;
}

.navbar a.nav-link.active {
  border-top: 3px solid #f98f45 !important;
}

.navbar .dropdown-menu {
  border: none !important;
  border-radius: 0px !important;
  padding: 0px !important;
}

.navbar .dropdown-menu .dropdown-item {
  background: #068975 !important;
  color: #ffffff !important;
  font-size: 12px !important;
  font-weight: 700 !important;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background: #f98f45 !important;
}

.footer {
  background: #068975 !important;
}

.footer h3 {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #ffffff !important;
  line-height: 1.6em !important;
  margin: 0px !important;
}

.footer a {
  font-size: 12px !important;
  font-weight: 400 !important;
  color: #ffffff !important;
  line-height: 1.6em !important;
  text-decoration: none !important;
}

.footer p {
  font-size: 11px !important;
  color: #ffffff !important;
  line-height: 1.6em !important;
}

.sortingCnt {
  border: 1px solid #eaeaea !important;
  /* background: url("../images/sortingBg.svg") !important; */
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: top right !important;
  border-radius: 5px !important;
  background-color: #ffffff !important;
}

.rbGroup .rBtnOrange {
  font-size: 12px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  background: #f1f1f1 !important;
  color: #323857 !important;
  box-shadow: none !important;
}

.rbGroup .btn-check:checked + .rBtnOrange {
  background: #f98f45 !important;
  color: #ffffff !important;
}

.irBtn .form-check-label {
  color: #323857 !important;
  font-size: 11px !important;
  font-weight: 600 !important;
  line-height: 1.4em !important;
}

.irBtn .form-check-input:checked {
  background: #ffffff !important;
  border: 4px solid #f98f45 !important;
  box-shadow: none !important;
}

.irBtn .form-check-input:checked + .form-check-label {
  color: #f98f45 !important;
}

.searchInput {
  flex-basis: 50% !important;
}
.mt-4l {
  margin-top: 2rem;
}

.ml-5r {
  margin-left: 12rem;
}

.searchInput span.input-group-text,
.searchInput .form-control {
  border-radius: 0px !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  background: #ffffff !important;
  box-shadow: none !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  color: #323857 !important;
  border-color: #d6d6d6 !important;
}

.searchInput span.input-group-text:focus,
.searchInput .form-control:focus {
  border-color: #d6d6d6 !important;
}

.searchBtn .btn {
  font-size: 11px !important;
  font-weight: 600 !important;
  color: #323857 !important;
  box-shadow: none !important;
  border: 1px solid #cecece !important;
  border-radius: 5px !important;
}

.sortingDD .btn {
  box-shadow: none !important;
  border: 1px solid #cecece !important;
  border-radius: 5px !important;
  font-size: 11px !important;
  font-weight: 600 !important;
  color: #323857 !important;
}

.sortingDD .dropdown-menu {
  padding: 0px !important;
  border-radius: 0px !important;
  border: none !important;
}

.docHospitals h3 {
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #068975 !important;
}

.sortingDD .dropdown-item {
  font-size: 11px !important;
  font-weight: 600 !important;
  background: #ffffff !important;
  color: #323857 !important;
}

.sortingDD .dropdown-item:hover {
  background: #ffffff !important;
}

.filterBtn .btn {
  font-size: 11px !important;
  font-weight: 600 !important;
  color: #323857 !important;
  box-shadow: none !important;
  border: 1px solid #cecece !important;
  border-radius: 5px !important;
}

.doctorsCnt {
  border: 1px solid #eaeaea !important;
  border-radius: 5px !important;
  background: #ffffff !important;
}
.searchcls {
  margin: 1rem 0 0 6rem;
}
.fn3 {
  font-size: 11px !important;
  font-weight: 600 !important;
}

.btdrBtn {
  background: #f98f45 !important;
  border-radius: 5px !important;
}

.sdrText {
  font-size: 18px !important;
  font-weight: 700 !important;
  color: #068975 !important;
  line-height: 1.2em !important;
}

.sdrText1 {
  font-size: 18px !important;
  font-weight: 700 !important;
  color: #f98f45 !important;
  line-height: 1.2em !important;
}

.iconBtn .btn {
  font-size: 11px !important;
  font-weight: 600 !important;
  color: #1c2341 !important;
  background: #f2f7f7 !important;
  border: 1px solid #cecece !important;
  border-radius: 5px !important;
  box-shadow: none !important;
}

.drOnlineCard,
.drOnlineCardMobile,
.drOnlineCardBook,
.drHospitalCard,
.w400Card {
  border: 1px solid #eaeaea !important;
  border-radius: 12px !important;
  box-shadow: 0px 2px 2px rgba(112, 111, 111, 0.16) !important;
}

.drOnlineCard2 {
  border: 1px solid #eaeaea !important;
  border-radius: 12px !important;
  box-shadow: 0px 2px 2px rgba(112, 111, 111, 0.16) !important;
}

.drOnlineCard2 {
  width: 235px !important;
}

.drOnlineCard {
  width: 235px !important;
}
.closeIcon {
  width: 20px;
  height: 20px;
}
.drOnlineCard1 {
  width: 225px !important;
}

.drOnlineCardMobile,
.drOnlineCardBook {
  width: 300px !important;
}

.drHospitalCard {
  width: 220px !important;
}

.w400Card {
  width: 100% !important;
  max-width: 400px !important;
}

.drStatus {
  margin-top: -15px !important;
}

.drOnlineCardMobile .drStatus {
  margin-top: 0px !important;
}

.drOnlineCardBook .drStatus {
  margin-top: 0px !important;
}

.drsText h3 {
  font-size: 11px !important;
  font-weight: 600 !important;
  line-height: 1.4em !important;
  color: #323857 !important;
}

.drsText h4 {
  font-size: 8px !important;
  font-weight: 500 !important;
  line-height: 1.4em !important;
  color: #5a607f !important;
}

.drOnlineCardMobile .drsText h3,
.drOnlineCardBook .drsText h3 {
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.4em !important;
  color: #5a607f !important;
}

.drOnlineCardMobile .drsText h4,
.drOnlineCardBook .drsText h4 {
  font-size: 9px !important;
  font-weight: 500 !important;
  line-height: 1.4em !important;
  color: #323857 !important;
}
.txtNow span {
  font-size: 12px !important;
}
.dector {
  text-decoration: none !important;
}
.pl-5l {
  padding-left: 3rem;
}
.wdPhone {
  width: 13px !important;
  margin: 0 5px;
}
/* .modal-backdrop
{
    display:none !important;
} */
.wdChat {
  width: 22px !important;
  margin: 0 5px;
}
.text_width {
  width: 70px;
  border-bottom: 2px solid #068975 !important;
  padding-bottom: 4px;
  font-size: 12px !important;
  font-weight: bold;
  color: #f98f45 !important;
}
.text_width2 {
  font-size: 12px !important;
  font-weight: bold;
  color: #f98f45 !important;
}
.orange {
  font-size: 12px !important;
  font-weight: bold;
  color: #f98f45 !important;
}
.green1 {
  font-size: 12px !important;
  font-weight: bold;
  color: #068975 !important;
}
.blueXt {
  color: blue;
}
.ml-16 {
  margin-left: 16em;
}
.text_width1 {
  width: 80px;
  border-bottom: 2px solid #068975 !important;
  padding-bottom: 4px;
  font-size: 12px !important;
  font-weight: bold;
  color: #f98f45 !important;
}
.clrOrg {
  color: #f98f45;
}
.modal_dialog1 {
  max-width: 530px !important;
}
.drName a {
  text-decoration: none !important;
}

.drName h3 {
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 1.4em !important;
  color: #f98f45 !important;
}

.drName h4 {
  font-size: 9px !important;
  font-weight: 500 !important;
  line-height: 1.4em !important;
  color: #323857 !important;
}

.drSp h3 {
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.4em !important;
  color: #323857 !important;
}

.drSp h4 {
  font-size: 9px !important;
  font-weight: 500 !important;
  line-height: 1.4em !important;
  color: #323857 !important;
}

.drOnlineCardMobile .drSp h3,
.drOnlineCardBook .drSp h3 {
  color: #5a607f !important;
}

.drOnlineCardMobile .drSp h4,
.drOnlineCardBook .drSp h4 {
  color: #323857 !important;
}

.drLocation h3 {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.4em !important;
  color: #323857 !important;
}

.drHospitalCard .drLocation h3 {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.4em !important;
  color: #323857 !important;
}

.drOnlineCardMobile .drLocation h3,
.drOnlineCardBook .drLocation h3 {
  font-size: 9px !important;
  font-size: 500 !important;
  line-height: 1.4em !important;
  color: #5a607f !important;
}

.drcHead,
.drcHeadBook {
  border-bottom: 1px solid #cecece !important;
}

.drcHead2,
.drcHeadBook2 {
  border-bottom: 1px solid #cecece !important;
}

.drcHead2 h3,
.drcHeadBook2 h3 {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.4em !important;
  color: #000000 !important;
  background: #ffffff !important;
}

.drcHead h3,
.drcHeadBook h3 {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.4em !important;
  color: #000000 !important;
  background: #ffffff !important;
}
.tkn-txt {
  font-size: 10px;
  margin-bottom: 5px;
}
.doaTabs .btn-check:checked + label.btn {
  border-color: #f98f45 !important;
  background: #f98f45 !important;
  color: #fff !important;
}
.clsuder {
  text-decoration: none !important;
}
.header_mod {
  display: inline-block !important;
}
.pat_cls {
  color: #068975;
}
.greenBg h1 {
  background-color: #068975;
  color: #fff !important;
  font-weight: bold !important;
  padding: 0.6rem;

  font-size: 18px !important;
  width: 100%;
}
.greenBg img {
  width: 100px;
}
.cls_block {
  display: block;
}
.mt-56 {
  margin-top: 6rem !important;
}
.w-60 {
  width: 66%;
}
.wl-65 {
  margin-left: 6rem !important;
}
.w162px {
  width: 160px !important;
}
.bookcls {
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #068975 !important;
}

.drcHeadBook h3 {
  position: relative !important;
  left: 22% !important;
  bottom: -16px !important;
  width: 113px !important;
}

.drcHeadBook2 h3 {
  position: relative !important;
  left: 37% !important;
  bottom: -16px !important;
  width: 51px !important;
  color: #000 !important;
}

.drcHeadBook1 h3 {
  position: relative !important;
  left: 26% !important;
  bottom: -16px !important;
  width: 110x !important;
}

.drOnlineCard .drcHead h3 {
  position: relative !important;
  left: 35% !important;
  bottom: -16px !important;
  width: 60px !important;
}
.drcHead2 {
  border-bottom: 1px solid #cecece !important;
}
.drOnlineCard2 .drcHead2 h3 {
  position: relative !important;
  left: 22% !important;
  bottom: -16px !important;
  width: 113px !important;
  font-size: 12px !important;
  margin-bottom: 1rem !important;
}
.txt-fnt {
  font-size: 12px !important;
  margin-top: 15px;
  background: #068975 !important;
  border: 1px solid #068975 !important;
  color: #fff !important;
}
.drcHead1 {
  border-bottom: 1px solid #cecece !important;
}

.drcHead1 h3 {
  position: relative !important;
  left: 12% !important;
  bottom: -16px !important;
  width: 150px !important;
  font-size: 11px !important;
  font-weight: 500 !important;
  line-height: 1.4em !important;
  color: #000 !important;
  background: #fff !important;
  margin-bottom: 10px;
}

.drOnlineCardMobile .drcHead h3 {
  position: relative !important;
  left: 60% !important;
  bottom: -16px !important;
  width: 60px !important;
}

.drOnlineCardBook .drcHead h3 {
  position: relative !important;
  left: 40% !important;
  bottom: -16px !important;
  width: 110px !important;
}

.draCard1 .drcHead h3 {
  position: relative !important;
  left: 33% !important;
  bottom: -16px !important;
  width: 95px !important;
}

.drCall p {
  font-family: Arial, sans-serif !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #000000 !important;
  line-height: 1.4em !important;
}

.drCall a {
  text-decoration: none !important;
}

.dhcBtn .btn {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #ffffff !important;
  background: #068975 !important;
  border-radius: 5px !important;
}

.Pattxt {
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #068975 !important;
}
.modal-content {
  border-radius: 15px !important;
  box-shadow: 0px 2px 2px rgba(112, 111, 111, 0.16) !important;
}

.modal-title {
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #068975 !important;
}

.modal .btn-close {
  /* background: url("../images/close-red.svg") !important; */
  background-repeat: no-repeat !important;
  background-position: center !important;
  opacity: 1 !important;
  box-shadow: none !important;
}

.modal .form-control {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
  box-shadow: none !important;
  border-color: #d5d4d4 !important;
}

.modal .form-select {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
  box-shadow: none !important;
  border-color: #d5d4d4 !important;
}

.modal .form-check-input {
  box-shadow: none !important;
  border-color: #d5d4d4 !important;
}

.modal .form-check-input:checked {
  border-color: #f98f45 !important;
  background-color: #f98f45 !important;
}

.modal .form-check-label {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
}

.modal .form-check-label a {
  color: #f98f45 !important;
  text-decoration: none !important;
}

.modal .carousel-control-prev-icon {
  /* background: url("../images/chevron-left.svg") !important; */
  background-repeat: no-repeat !important;
  background-size: 24px !important;
}
.modal .carousel-control-next-icon {
  /* background: url("../images/chevron-right.svg") !important; */
  background-repeat: no-repeat !important;
  background-size: 24px !important;
}

.fmiTitle {
  font-size: 11px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
}

.fmbGroup .btn {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #707070 !important;
  border: 1px solid #cecece !important;
  padding: 5px 30px !important;
  border-radius: 5px !important;
  box-shadow: none !important;
}

.fmbGroup .btn-check:checked + .btn {
  background: #f98f45 !important;
  border-color: #f98f45 !important;
  color: #ffffff !important;
}

.abFormGroup .btn {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #707070 !important;
  border: 1px solid #cecece !important;
  border-radius: 5px !important;
  box-shadow: none !important;
}

.abFormGroup .btn-check:checked + .btn {
  background: #f98f45 !important;
  border-color: #f98f45 !important;
  color: #ffffff !important;
}

.fmaBtn {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #ffffff !important;
  background: #068975 !important;
  border-radius: 5px !important;
  padding: 10px 30px !important;
  box-shadow: none !important;
}

.specialityCard {
  width: 317px !important;
  border-radius: 10px !important;
  box-shadow: 0px 3px 6px rgba(112, 111, 111, 0.16) !important;
}

.spgTitle {
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #f98f45 !important;
}

.spCardTitle a {
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 1.4em !important;
  color: #30a2be !important;
  text-decoration: none !important;
}

.spCardText {
  font-size: 12px !important;
  font-weight: 300 !important;
  color: #666666 !important;
  line-height: 1.6em !important;
}
.cls323857 {
  color: #323857 !important;
}

.spCardText h3 {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #1c2341 !important;
  line-height: 1.6em !important;
}

.draCard1 {
  width: 238px !important;
  border-radius: 10px !important;
  background: #ffffff !important;
  box-shadow: 0px 0px 18px rgba(112, 111, 111, 0.16) !important;
}

.draCard4 {
  width: 500px !important;
  border-radius: 10px !important;
  background: #ffffff !important;
  box-shadow: 0px 0px 18px rgba(112, 111, 111, 0.16) !important;
}

.draCard5 {
  width: 400px !important;
  border-radius: 10px !important;
  background: #ffffff !important;
  box-shadow: 0px 0px 18px rgba(112, 111, 111, 0.16) !important;
}

.draCard2 {
  width: 300px !important;
  border-radius: 10px !important;
  background: #ffffff !important;
  box-shadow: 0px 0px 18px rgba(112, 111, 111, 0.16) !important;
}

.draCard5 {
  width: 275px !important;
  border-radius: 10px !important;
  background: #ffffff !important;
  box-shadow: 0px 0px 18px rgba(112, 111, 111, 0.16) !important;
}

.draCard3 {
  width: 320px !important;
  border-radius: 10px !important;
  background: #ffffff !important;
  box-shadow: 0px 0px 18px rgba(112, 111, 111, 0.16) !important;
}

.draCard4 {
  width: 480px !important;
  border-radius: 10px !important;
  background: #ffffff !important;
  box-shadow: 0px 0px 18px rgba(112, 111, 111, 0.16) !important;
}

.width275 {
  width: 275px !important;
}

.doacTitle {
  border-bottom: 1px solid #b5b5b5 !important;
}

.doacTitle h3 {
  font-size: 13px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #068975 !important;
}
.doacTitle1 {
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #068975 !important;
}

.ashxt {
  color: #707070;
  text-decoration: none !important;
}
.doaInfo {
  background: #f1f1f1 !important;
  border-radius: 5px !important;
}
.textBlue {
  font-size: 12px !important;
  font-weight: 700 !important;
  line-height: 1.6em !important;
  color: #30a2be !important;
}

.doaText a h2 {
  font-size: 11px !important;
  font-weight: 700 !important;
  line-height: 1.6em !important;
  color: #30a2be !important;
}

.doaText a h3 {
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.6em !important;
  color: #f98f45 !important;
}

.doaText h4 {
  font-size: 11px !important;
  font-weight: 600 !important;
  line-height: 1.6em !important;
  color: #5a607f !important;
}

.doaText h5 {
  font-size: 10px !important;
  font-weight: 500 !important;
  line-height: 1.6em !important;
  color: #5a607f !important;
}

.doaSchedule div {
  font-size: 11px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
}

.doaSchedule div.active {
  color: #f98f45 !important;
  border-bottom: 2px solid #f98f45 !important;
}

.doatHead {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
}

.doaTabs .nav-tabs {
  border: none !important;
}

.doaTabs .nav-link {
  font-size: 11px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
  border-radius: 8px !important;
  border: none !important;
}

.doaTabs .nav-link.active {
  background: #f98f45 !important;
  color: #ffffff !important;
}

.doaTabs label.btn {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
  color: #707070 !important;
  border: 1px solid #cecece !important;
  border-radius: 8px !important;
  margin: 5px !important;
  box-shadow: none !important;
}
.flex-cls {
  display: flex !important;
  justify-content: normal !important;
  align-items: center !important;
  margin: 8px 0 0 0;
}
.w-58 {
  width: 58% !important;
}

.font-weight-bold {
  font-weight: bold !important;
}

.doaTabs .btn-check:checked + label.btn {
  border-color: #f98f45 !important;
  background: #f98f45 !important;
  color: #ffffff !important;
}

.doabBtn {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #068975 !important;
  border: 1px solid #068975 !important;
  border-radius: 5px !important;
  box-shadow: none !important;
}
.w300 {
  min-width: 400px !important;
}

.doacBtn,
.doaOrangeBtn,
.btnBlue,
.redBtn,
.greenBtn {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #ffffff !important;
  border-radius: 5px !important;
  box-shadow: none !important;
  text-decoration-line: none !important;
}

.doacBtn {
  background: #068975 !important;
  border: 1px solid #068975 !important;
}

.doaOrangeBtn {
  background: #f98f45 !important;
  border: 1px solid #f98f45 !important;
  text-decoration: none !important;
}

.btnBlue {
  background: #30a2be !important;
  border: 1px solid #30a2be !important;
}

.redBtn {
  background: #ff0707 !important;
  border: 1px solid #ff0707 !important;
}
.image-upload > input {
  display: none;
}

.image-upload > button {
  display: none;
}

.greenBtn {
  background: #11df48 !important;
  border: 1px solid #11df48 !important;
}

.doaNText {
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
}

.doaNText16 {
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
}
.call2 {
  width: 30px;
}
.doaNText1 {
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: blue !important;
  cursor: pointer;
}

.form-control,
.form-select {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
  box-shadow: none !important;
  border-color: #d5d4d4 !important;
}

.form-check-input {
  box-shadow: none !important;
  border-color: #d5d4d4 !important;
}

.form-check-input:checked {
  border-color: #f98f45 !important;
  background-color: #f98f45 !important;
}

.draCard1 .irBtn .form-check-input:checked,
.w400Card .irBtn .form-check-input:checked {
  border-color: #f98f45 !important;
  background-color: #ffffff !important;
}

.form-check-label {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
}

.form-check-label a {
  color: #f98f45 !important;
  text-decoration: none !important;
}

.ogrBtnGroup label.btn {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
  color: #068975 !important;
  border: 1px solid #068975 !important;
  border-radius: 5px !important;
  margin: 5px !important;
  box-shadow: none !important;
}

.ogrBtnGroup .btn-check:checked + label.btn {
  background-color: #f98f45 !important;
  border-color: #f98f45 !important;
  color: #ffffff !important;
}

.doaDay {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
}
.orange_xt {
  color: #f98f45 !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  line-height: 1.2em !important;
  text-decoration: none !important;
}
.clorf4f4f4 {
  background-color: #f4f4f4;
}

.doaDuration,
.doaDuration a {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
  text-decoration: none !important;
}

.doaDuration span {
  font-family: Arial, sans-serif !important;
}

.spmBtn {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
  border: 1px solid #d5d4d4 !important;
  border-radius: 5px !important;
}

.clockBox {
  background: #eaeaea !important;
  border: 1px solid #d5d4d4 !important;
  border-radius: 5px !important;
  font-size: 25px !important;
  font-weight: 700 !important;
  line-height: 1.2em !important;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: green !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: green !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: green !important;
}
.form-control.shcInput,
.form-control.shcInput::placeholder,
.shcLabel {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
}

.form-control.shcInput {
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-radius: 0px !important;
}

.form-control.shcTextArea,
.form-control.shcTextArea::placeholder {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
  min-height: 100px;
}

#sideNav {
  width: 230px !important;
}
.ashbox {
  background-color: #d7d7d7;
  color: #000000;
  padding: 5px;
  border-radius: 5px;
}
.query-cls {
  font-size: 14px !important;
  font-weight: bold !important;
  line-height: 1.2em !important;
  color: #323857 !important;
  text-decoration: none !important;
}
.txtara {
  width: 100%;
  height: 89px;
  padding: 2px 2px 2px 2px;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: normal;
  color: #000000;
  vertical-align: none;
  text-align: left;
  text-transform: none;
  background-color: transparent;
  border: 1px solid #d7d7d7;
  resize: none;
}

#sideNav .btn {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
  background: #ffffff !important;
  color: #168a87 !important;
  border: 1px solid #eaeaea !important;
  border-radius: 5px !important;
  box-shadow: none !important;
  font-size: 14px !important;
}

#sideNav .btn.active {
  background: #f98f45 !important;
  color: #ffffff !important;
}

.patchBg {
  background-color: white !important;
  padding: 10px;
}

#sideNav.sideNav {
  display: none !important;
}

.myPhoneCardCnt {
  border: 1px solid #eaeaea !important;
  border-radius: 10px !important;
  background: #ffffff !important;
  width: 100% !important;
  max-width: 100% !important;
}

.myPhoneCardCnt03 {
  border: 1px solid #949292 !important;
  border-radius: 10px !important;
  background: #ffffff !important;
  width: 80% !important;
  max-width: 100% !important;
}

.orangeTextBox {
  background: #f98f45 !important;
  color: #ffffff !important;
  width: fit-content !important;
  border-radius: 5px !important;
  font-size: 9px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
}

.grayTextBox {
  background: #eaeaea !important;
  border: 1px solid #f98f45 !important;
  color: #000000 !important;
  width: fit-content !important;
  border-radius: 3px !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 0.8em !important;
  padding: 5px 10px !important;
}

.orangeLargeText {
  font-size: 13px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #f98f45 !important;
}

.mpGrayBox {
  background: #f1f1f1 !important;
  border-radius: 5px !important;
}

.mpTitle {
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
}

.mpTitle18 {
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
}

.obSelect {
  border: 1px solid #f98f45 !important;
  background-color: #ffffff !important;
  border-radius: 5px !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #323857 !important;
  line-height: 1.2em !important;
  box-shadow: none !important;
}

.mpCard {
  width: 224px !important;
  border-radius: 8px !important;
  background: #ffffff !important;
  box-shadow: 0px 0px 18px rgba(112, 111, 111, 0.16) !important;
}

.mpHead {
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #f98f45 !important;
  text-decoration: none !important;
}
.fot {
  font-size: 8px !important;
  color: #000;
}
.bordern {
  border-bottom: none !important;
}
.colorDr {
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: 1.6em !important;
  color: #30a2be !important;
}

.mpText {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.6em !important;
  color: #323857 !important;
}

.mpText span {
  font-size: 12px !important;
  font-weight: 600 !important;
}

.walletCircle {
  width: 138px !important;
  height: 138px !important;
  background: #f1f1f1 !important;
  border: 1px solid #eaeaea !important;
  border-radius: 100% !important;
}

.walletCircle h2 {
  font-family: Arial, sans-serif !important;
  font-size: 30px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
}

.walletCircle h3 {
  font-family: Arial, sans-serif !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
}

.walletCircle h4 {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
}

.viewMore {
  font-size: 11px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #068975 !important;
}

.tabsOrange .nav-link {
  border: none !important;
  background: #f1f1f1 !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  color: #323857 !important;
  border-radius: 0px !important;
}

.tabsOrange .nav-link.active {
  background: #f98f45 !important;
  color: #ffffff !important;
}

.tabsOrange .nav-link:first-child {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.tabsOrange .nav-link:last-child {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.hrBtn {
  background: #f2f7f7 !important;
  border: 1px solid #66d6b8 !important;
  border-radius: 5px !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #323857 !important;
  box-shadow: none !important;
}

.hrBtn span {
  color: #068975 !important;
}

.accordion-button {
  font-size: 12px !important;
  font-weight: 700 !important;
  color: #323857 !important;
  line-height: 1.2em !important;
  box-shadow: none !important;
}

.accordion-body {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 1.4em !important;
  color: #323857 !important;
}

.accordion-button:not(.collapsed) {
  background: #ffffff !important;
}

.accordion-button::after {
  /* background: url("../images/chevron-right-gray.svg") !important; */
}

.accordion-button:not(.collapsed)::after {
  /* background: url("../images/chevron-down-gray.svg") !important; */
  transform: none !important;
}

.fm15 {
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
}

.divGray {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #707070 !important;
  line-height: 1.2em !important;
  border: 1px solid #cecece !important;
  border-radius: 3px !important;
}

.articleCard {
  width: 235px !important;
  background: #f1f1f1 !important;
  border-radius: 10px !important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16) !important;
}

.f10bTeal {
  font-size: 12px !important;
  font-weight: 700 !important;
  line-height: 1.2em !important;
  color: #068975 !important;
}

.f12sbTeal,
.f12sbOrange {
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
}

.f12sbTeal {
  color: #068975 !important;
}

.f12sbOrange {
  color: #f98f45 !important;
}

.f10sbTeal,
.f10sbOrange {
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
}

.f10sbTeal {
  color: #068975 !important;
}

.f10sbOrange {
  color: #f98f45 !important;
}

.f10sb {
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
}
.entries span {
  font-size: 14px;
}
.fontxs {
  font-size: 12px;
  color: #f98f45 !important;
}
.page-link {
  color: #30a2be !important;
}
.cla13fnt h3 {
  font-size: 13px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #068975 !important;
  border-bottom: 1px solid #b5b5b5 !important;
}
.searchItem div {
  font-size: 14px;
  margin-left: 10px !important;
}

.f16sb {
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
.cursor {
  text-decoration: none !important;
}

ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline > li:before {
  content: " ";
  background: #ffffff;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #068975;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
.miHt {
  min-height: 500px;
}

ul.timeline > li.active::before {
  background: url(../../images//timeline-active.png) !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  border: none !important;
}
.minHeight {
  min-height: 140px !important;
}
.width15 {
  width: 13px;
  height: 13px;
}
.modal_dialog {
  max-width: 770px !important;
}
.overflow_tb {
  overflow: auto !important;
  width: 980px;
}
.overflow_tb1 {
  overflow: auto !important;
  width: 1054px;
}
.overflow_tb2 {
  overflow: auto !important;
  width: 1200px;
}
.f10m,
.f10mTeal,
.f10mBlue,
.f10mOrange {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
}

.f10m {
  color: #323857 !important;
}

.f10mBlue {
  color: #30a2be !important;
}

.f10mTeal {
  color: #068975 !important;
}

.f10mOrange {
  color: #f98f45 !important;
}

.f11b {
  font-size: 11px !important;
  font-weight: 700 !important;
  line-height: 1.2em !important;
  color: #323857 !important;
}

.f11sbBlue {
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 1.2em !important;
  color: #30a2be !important;
}

.f8m,
.f8mWhite {
  font-size: 10px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
}

.f8m {
  color: #323857 !important;
}

.f8mWhite {
  color: #ffffff !important;
}

.ogBox {
  border: 1px solid #f98f45 !important;
  background: #f2f7f7 !important;
  border-radius: 8px !important;
}

.grayBox {
  background: #f2f7f7 !important;
  border-radius: 8px !important;
}

.abWhite {
  border: 1px solid #cecece !important;
  border-radius: 5px !important;
  background: #ffffff !important;
  width: 74px !important;
}

.divWhite {
  border: 1px solid #cecece !important;
  border-radius: 5px !important;
  background: #ffffff !important;
}

.abOrange,
.orangeDiv {
  border: 1px solid #f98f45 !important;
  border-radius: 5px !important;
  background: #f98f45 !important;
}

.abOrange {
  width: 74px !important;
}

.hashDiv {
  border: 1px solid #707070 !important;
  border-radius: 5px !important;
  background: #707070 !important;
}

.w-md-40 {
  width: 40% !important;
}

.pnBtn {
  box-shadow: none !important;
  border: 1px solid #cecece !important;
  border-radius: 5px !important;
}

.fromTo {
  width: 48% !important;
  margin-left: 1% !important;
  margin-right: 1% !important;
}
.modal650 {
  max-width: 550px !important;
}
.fromTo .form-control {
  width: 100% !important;
}

#table_id {
  border: none !important;
}

#table_id th {
  border: none !important;
  padding: 10px;
}

#table_id td {
  border-bottom: 1px solid #cecece !important;
  padding: 10px;
}

#table_id thead {
  background: #f1f1f1 !important;
  padding: 10px;
}

#table_id td {
  font-size: 13px !important;
  font-weight: 500 !important;
  color: #323857 !important;
  line-height: 1.2em !important;
}

#table_id td a {
  color: #30a2be !important;
}

#table_id th,
.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #323857 !important;
  line-height: 1.2em !important;
}
.w-small {
  width: 30px;
}

.dataTables_length,
.table_id_filter {
  margin-bottom: 20px !important;
}

a.paginate_button.current {
  background: #068975 !important;
  border: none !important;
}
.mt-4l {
  margin-top: 2em !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #ffffff !important;
}

.cD {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background: #f98f45 !important;
  width: 20px !important;
  height: 20px !important;
  padding: 0px !important;
  border-radius: 100% !important;
  border: none !important;
  box-shadow: none !important;
}

.cD::after {
  display: none !important;
}

td .dropdown-item {
  font-size: 11px !important;
  font-weight: 500 !important;
  line-height: 1.2em !important;
}

@media screen and (min-width: 500px) {
  col100 {
    flex: 0 0 auto !important;
    width: 100% !important;
  }
}
/*media-queries-starts-here*/
@media (max-width: 575px) {
  .searchInput {
    flex-basis: 100% !important;
  }

  #sideNav {
    display: none !important;
  }

  #sideNav.sideNav {
    display: flex !important;
  }

  .w-md-40 {
    width: 100% !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #sideNav {
    display: none !important;
  }

  .modal650 {
    max-width: 850px !important;
    top: -158px !important;
  }

  .Modal_dg {
    max-width: 350px !important;
  }
  .box_size {
    max-width: 760px !important;
  }

  #sideNav.sideNav {
    display: flex !important;
  }

  .w-md-40 {
    width: 100% !important;
  }
  .dilogbox1 {
    max-width: 550px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #sideNav {
    display: none !important;
  }

  #sideNav.sideNav {
    display: flex !important;
  }
}

@media (min-width: 992px) and (max-width: 1999px) {
  .myPhoneCardCnt {
    max-width: 100% !important;
  }
}

@media (min-width: 2000px) {
  .myPhoneCardCnt {
    max-width: 100% !important;
  }
}
/*media-queries-ends-here*/
